html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: content-box;
  width: 100%;
}

.imagen_fondo {
  background-image: url("/img/doggis-promocion-dia-del-completo-italiano.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.background_image {
  background-image: url("../img/fondo_img.png");
  height: 100%;
}

.menu {
  background-color: #ffcc00;
}

.container {
  width: 100rem;
  margin: 0 auto;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
}

img {
  max-width: 100%;
}

.logo {
  flex-basis: 15%;
}

.navbar a {
  color: #b23d33;
  text-decoration: none;
}

.nav-seleccion {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-seleccion li {
  margin-right: 30px;
}

.titulo {
  padding: 60px 0;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 45px;
}

.content p {
  font-size: 28px;
  margin-bottom: 0;
  text-align: center;
  margin-top: 10px;
  background-color: #ffeea8;
  border-radius: 7px;
}

.nombre-combos {
  width: 10% 0%;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.imagen {
  width: 700px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.estilo-imagen {
  width: 40%;
  border-radius: 10px;
  margin-bottom: -6px;
}

.panel {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 400px;
}

.image_card {
  width: 100%;
}

.title {
  font-size: 45px;
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lista_pedidos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.image_pedidos {
  width: 380px;
  height: 380px;
}

.marcas {
  margin-bottom: 5rem;
}

.padre {
  padding-bottom: 5rem;
}

.lista_locales {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

.image_locales {
  width: 180px;
}

.color_fondo {
  background-color: #ffcc00;
}

.subtitulo {
  font-size: 20px;
  color: #b95148;
}

.lista_contactos {
  display: flex;
}

.sublista_image {
  flex-basis: 284px;
}

.sublista_conocenos {
  flex-basis: 284px;
}

.sublista_sociales {
  flex-basis: 284px;
}

.sublista_cuenta {
  flex-basis: 284px;
}

.texto_conocenos{
  color: #b95148;
  padding-bottom: .5rem;
  text-decoration: none;
  width: 100%;
}

.lista_puntos {
  list-style: none;
  padding-left: 0;
}